<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>

    <h1>Forgot Password</h1>

    <form action="/forgotPassword" method="POST">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Submit</button>
    </form>
    

    <script>
        //on form submit
        //make a post api request to /forgotPassword

        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();

            if(!document.querySelector('input[name="email"]').value) {
                return alert('Please enter email');
            }

            const email = document.querySelector('input[name="email"]').value;
            alert("Please wait for a moment");
            const response = await fetch('/forgotPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email })
            });

            const data = await response.json();

            if(data.error) {
                return alert(data.error);
            }

            alert(data.message);
            //refresh the page
            window.location.href = '/forgot-password';
        });
    </script>

</body>
</html>