<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>

    <h1>Reset Password</h1>

    <form action="/resetPassword/<%= token %>" method="POST">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <button type="submit">Submit</button>
    </form>


    <script>
        //on form submit
        //make a post api request to /resetPassword/:token

        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();

            if(!document.querySelector('input[name="password"]').value || !document.querySelector('input[name="confirmPassword"]').value) {
                return alert('Please enter password and confirm password');
            }

            if(document.querySelector('input[name="password"]').value !== document.querySelector('input[name="confirmPassword"]').value) {
                return alert('Passwords do not match');
            }

            const password = document.querySelector('input[name="password"]').value;
            const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;

            const response = await fetch('/resetPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password, token: '<%= token %>' })
            });

            const data = await response.json();

            if(data.error) {
                return alert(data.error);
            }

            alert(data.message);
            //refresh the page
            window.location.href = '/login';
        });

    </script>
    
</body>
</html>